<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZLYTextDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>679ADE941BE8B69F009D08A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>679ADEAD1BE8B6A0009D08A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>679ADEB81BE8B6A0009D08A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
